<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student App Example- Group Form</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/student">Add a Group</a>
    </nav>


    <h1>ADD A Student</h1>

    <form id = "student-form">
        <input id = "first-name-input" type="text" placeholder = "Enter first name">
        <input id = "last-name-input" type="text" placeholder = "Enter last name">
        <input id = "email-input" type="text" placeholder = "Enter Student E-mail address">
        <select id="group-select">
            <option value="1">Team 1</option>
            <option value="2">Team 2</option>
            <option value="3">Team 3</option>
        </select>
        <button>Submit</button>
    </form>


    <script src="/js/student_browser.js"></script>
</body>

</html>